#page {
    /*text-align:center;*/
}

#content {
    display:inline-block;
}


.comptable {
    border-collapse: collapse;
}

.comptable th, td {
    border: 1px solid black;
	text-align: center;
	padding: 5px;
}